# Rust
target
**/*.rs.bk

# Node/JS
node_modules/
dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
